[submodule "zapato"]
	path = zapato
	url = https://github.com/thunsaker/zapato.git
[submodule "foursquare-android-oauth"]
	path = foursquare-android-oauth
	url = https://github.com/thunsaker/foursquare-android-oauth.git
